body {
	height: 100%;
	background-color: #002664;
	color: #EFAB00;
}

/************************************************top navbar*************************************/
#nav-override{
	
	background-color: #002664;
	margin-bottom: 0px;
}

#PRInT_logo{
	height:80%;
}

/********************************************splash page****************************************/
#splash{
	display: block;
}

/********************************************add_curator page***********************************/
#add-curator {
	font-family: National;
	text-align: center;
	margin-top : 10px auto;
	color: #EFAB00;
}

/********************************************edit_curator page***********************************/
#edit-curator{
	font-family: National;
	text-align: center;
	margin-top : 10px auto;
	color: #EFAB00;
}

/******************************************remove_curator page***********************************/
#remove-curator{
	font-family: National;
	text-align: center;
	margin-top : 10px auto;
	color: #EFAB00;
	
}

select{
	color: black;
}

#sbmt{
	size: 150px;
}

/********************************************add_resource page***********************************/
#add-resource{
	display: none;
}

/********************************************edit_resource page***********************************/
#edit-resource{
	display: none;
}

/********************************************remove_resource page********************************/
#remove-resource{
	display: none;
}

.inText{
	display: inline;

}

#add-curator h4{
	display: inline;
}
::placeholder{
	color:black;
}

.page {
	width:200px;
	margin: 0 auto;
	text-align: center;
}

.infoSection{
	display: block;
	width: 100%;
	text-align: right;
	margin: 0px 0px 5px 0px;
}

#title{
	font-family: National;
	text-align: center;
	margin-top: 10px auto;
	color: #EFAB00;
	font-size: 20pt;
	font-weight: bold;
}

form{
	display: inline-block
	margin: 0 auto;
	width: 150px;
	text-align: center;
}

#sbmt {
	color: black;
}
